.side-container
  .side-container__header
    = current_user.name
    %ul.side-container__header__box
      %li<
      = link_to new_group_path do
        = fa_icon 'edit' , class: "side-container__header__box__icon"
      %li<
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog' , class: "side-container__header__box__icon"
  .side-container__group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        %p.side-container__group__groupName
          = group.name
        %p.side-container__group__messages
          メッセージはまだありません。